<head>
    <!-- Diğer meta etiketleri buraya gelebilir -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card header="Register" [style]="{ width: '480px'}">

        <div class="field">
            <label for="name">Name</label>
            <input 
                type="text" 
                pInputText 
                formControlName="name" 
                class="w-full" 
                name="name" 
                placeholder="Type your name">
            <small 
                *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('name')?.errors?.['required']">Name is Required</div>
                <div *ngIf="registerForm.get('name')?.errors?.['pattern']">Enter a valid name</div>
            </small>
        </div>

        <div class="field">
            <label for="surname">Surname</label>
            <input 
                type="text" 
                pInputText 
                formControlName="surname" 
                class="w-full" 
                name="surname" 
                placeholder="Type your surname">
            <small 
                *ngIf="registerForm.get('surname')?.invalid && (registerForm.get('surname')?.dirty || registerForm.get('surname')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('surname')?.errors?.['required']">Surname is Required</div>
                <div *ngIf="registerForm.get('surname')?.errors?.['pattern']">Enter a valid surname</div>
            </small>
        </div>
          
        <div class="field">
            <label for="email">Email</label>
            <input 
                type="text" 
                pInputText 
                formControlName="email" 
                class="w-full" 
                name="email" 
                placeholder="Type your email">
            <small 
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is Required</div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']">Email should be Valid</div>
            </small>
        </div>

        <div class="field">
            <label for="phoneNumber">Phone Number</label>
            <input 
                type="text" 
                pInputText 
                formControlName="phoneNumber" 
                class="w-full" 
                name="phoneNumber" 
                placeholder="Type your phone number">
            <small 
                *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone Number is Required</div>
                <div *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">Enter a valid phone number</div>
            </small>
        </div>

        <div class="field">
            <label for="occupation">Occupation</label>
            <input 
                type="text" 
                pInputText 
                formControlName="occupation" 
                class="w-full" 
                name="occupation" 
                placeholder="Type your occupation">
            <small 
                *ngIf="registerForm.get('occupation')?.invalid && (registerForm.get('occupation')?.dirty || registerForm.get('occupation')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('occupation')?.errors?.['required']">Occupation is Required</div>
            </small>
        </div>

        <div class="field">
            <label for="sifre">Password</label>
            <input 
                type="password" 
                pInputText 
                formControlName="sifre" 
                class="w-full" 
                name="sifre" 
                placeholder="Type your password">
            <small 
                *ngIf="registerForm.get('sifre')?.invalid && (registerForm.get('sifre')?.dirty || registerForm.get('sifre')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('sifre')?.errors?.['required']">Password is Required</div>
            </small>
        </div>

        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input 
                type="password" 
                pInputText 
                formControlName="confirmPassword" 
                class="w-full" 
                name="confirmPassword" 
                placeholder="Confirm password">
            <small 
                *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" 
                class="block p-error">
                <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm the password</div>
            </small>
            <small 
                class="block p-error" 
                *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.valid && registerForm.get('sifre')?.valid">
                Password should match
            </small>
        </div>

        <p-button 
            label="Register" 
            styleClass="w-full" 
            [disabled]="registerForm.invalid"
            type="submit">
        </p-button>
        
        <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
    </p-card>    
</form>
