<!-- home.component.html -->
<div class="container">
  <div class="sidebar">
    <h3>Boards(4)</h3>
    <ul>
      <li>Board 0</li>
      <li>Board 1</li>
      <li>Board 2</li>
      <li>Board 3</li>
    </ul>
    <button class="add-board-btn">+ Yeni Board Ekle</button>
  </div>
  <div class="kanban-board" cdkDropListGroup>
    <div class="column" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
      <h3 class="todo">Yapılacaklar({{todo.length}})</h3>
      <div *ngFor="let task of todo" class="task" cdkDrag>{{task}}</div>
    </div>
    <div class="column" cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)">
      <h3 class="in-progress">Şu anda yapılanlar({{inProgress.length}})</h3>
      <div *ngFor="let task of inProgress" class="task" cdkDrag>{{task}}</div>
    </div>
    <div class="column" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
      <h3 class="done">Tamamlananlar({{done.length}})</h3>
      <div *ngFor="let task of done" class="task" cdkDrag>{{task}}</div>
    </div>
  </div>
</div>

<p-button label="Sign Out" (onClick)="logOut()"></p-button>